<!doctype html>
<html>
	<head>
		<title>OpenRefine-Wikidata interface</title>
		<meta charset="utf-8" />
		<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
crossorigin="anonymous">
	</head>
	<body style="padding: 100px">
		<h1><a href="https://www.wikidata.org/wiki/Wikidata:Main_Page">Wikidata</a>
			reconciliation for <a href="http://openrefine.org/">OpenRefine</a></h1>
		<p class="lead">This web service can be used to align datasets to Wikidata items in OpenRefine.</p>

		<p>Use the following URL in OpenRefine: <a
href="https://tools.wmflabs.org/openrefine-wikidata/en/api">https://tools.wmflabs.org/openrefine-wikidata/en/api</a>.</p>
<p>Replacing "en" by another language code will display items and properties
in your language, when they are available.</p>

		<p>This interface works with OpenRefine 2.6 rc2. It is
		   not compatible with Google Refine 2.5.</p>
		
		<ul>
			<li><a href="https://github.com/OpenRefine/OpenRefine/wiki/Reconciliation-Service-API">Documentation</a></li>
			<li><a href="https://github.com/wetneb/openrefine-wikidata">Source</a></li>
			<li><a href="https://github.com/wetneb/openrefine-wikidata/issues">Bug tracker</a></li>
			<li><a href="{{service_status_url}}">Service status</a></li>
		</ul>
		
		
		<h2>How to</h2>
		<h3>Choose a column with names of entities</h3>
		<img src="static/screenshot_column.png" />
		<h3>Set up the endpoint</h3>
		<img src="static/screenshot_config.png" />
		<h3>Configure the reconciliation</h3>
		<p>You can choose a type to reconcile rows against. Only
		items which are instances of this type (or any subclass
		of it) will be returned. It is possible that the types
		suggested by the interface are too specific for your
		dataset as the algorithm only uses the first rows to
		guess the type. Do not hesitate to choose a more general
		type (for instance by choosing <a href="https://www.wikidata.org/wiki/Q486972">human settlement (Q486972)</a>
		instead of <a href="https://www.wikidata.org/wiki/Q515">city (Q515)</a>).</p>

		<p>You can match columns in your dataset to Wikidata properties. 		
		This will help refine the matches, for better precision.</p>
		<img src="static/screenshot_start.png" />
		<h3>Reconcile!</h3>
		<img src="static/screenshot_items.png" />
	</body>
</html>
