<!doctype html>
<html>
	<head>
		<title>OpenRefine-Wikidata interface</title>
		<meta charset="utf-8" />
		<link rel="stylesheet"
href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
crossorigin="anonymous">
	</head>
	<body>
		<div id="logos" style="padding: 5px; float: right">
		<a href="https://www.wikidata.org/"><img
src="static/Wikidata-logo-en.svg" alt="Wikidata" height="100px" /></a>
		<a href="http://openrefine.org/"><img
src="static/Google-refine-logo.svg" alt="OpenRefine" height="60px" /></a>
		<a href="https://tools.wmflabs.org/"><img src="static/Tool_Labs_logo_thumb.png" alt="Hosted on
Tool Labs" height="100px" /></a>
		</div>
		<div style="padding: 100px">
		<h1><a href="https://www.wikidata.org/wiki/Wikidata:Main_Page">Wikidata</a>
			reconciliation for <a href="http://openrefine.org/">OpenRefine</a></h1>
		<p class="lead">This web service can be used to align datasets to Wikidata items in OpenRefine.</p>

		<p>Use the following URL in OpenRefine: <a
href="https://tools.wmflabs.org/openrefine-wikidata/en/api">https://tools.wmflabs.org/openrefine-wikidata/en/api</a>.</p>
<p>Replacing "en" by another language code will display items and properties
in your language, when they are available.</p>

		<p>This interface works with OpenRefine from 2.6 rc2 onwards. It is
		   not compatible with Google Refine.</p>
		
		<ul>
			<li><a
href="https://github.com/OpenRefine/OpenRefine/wiki/Reconciliation-Service-API">Documentation
of the API</a></li>
			<li><a href="https://github.com/wetneb/openrefine-wikidata">Source</a> 
<iframe
src="https://ghbtns.com/github-btn.html?user=wetneb&repo=openrefine-wikidata&type=star&count=true"
frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
</li>
			<li><a href="https://github.com/wetneb/openrefine-wikidata/issues">Bug tracker</a></li>
			<li><a href="{{service_status_url}}">Service status</a></li>
		</ul>
		<h3>Tutorials for OpenRefine users</h3>
		<ul>
			<li><strong><a
href="https://github.com/OpenRefine/OpenRefine/wiki/Reconciliation">Official
documentation in English</a></strong></li>
			<li><a href="http://qiita.com/yayamamo/items/eade3e5788e6f359bce7">Official
documentation in Japanese</a> by <a href="http://data.dbcls.jp/~yayamamo/fsyl/">山本 泰智</a></li>
			<li><a
href="https://medium.com/@seeksanusername/reconcilier-une-liste-darchitecte-avec-wikidata-en-utilisant-openrefine-16819fbb2903#.i9nvehia2">Tutorial</a> by <a href="https://twitter.com/seeksanusername">Antoine
Courtin</a> (in French)</li>
			<li><a
href="https://musingsaboutlibrarianship.blogspot.co.uk/2017/03/openrefine-reconciliation-services.html">Comparison
of renconciliation services for OpenRefine</a> by <a
href="https://twitter.com/aarontay">Aaron Tay</a> (in English)</li>
			<li><a
href="http://www.mnylc.org/fellows/2017/03/17/using-openrefine-to-reconcile-name-entities/">Using
OpenRefine to Reconcile Name Entities</a> by Karen H. (in English)</li>
                        <li><a href="https://histhub.ch/reconciling/">Reconciling in OpenRefine - eine Einführung von histHub</a> (in German)</li>
		</ul>

		<h3>Videos</h3>
		<ul>
			<li><strong><a href="https://www.youtube.com/playlist?list=PL_0jeq3PjvtADzbovAgHNzOFvOlyF6uL1">Reconciliation in OpenRefine</a></strong>, screencast by <a href="http://www.meanboyfriend.com/overdue_ideas/">Owen Stephens</a> (in English, 24:06)</li>
			<li><a
href="https://media.ccc.de/v/wikidatacon2017-10020-openrefine_demo">OpenRefine demo at WikidataCon 2017</a>,
live demo by <a href="https://www.wikidata.org/wiki/User:ArthurPSmith">Arthur P. Smith</a> (in English, 19:52)</li>
                        <li><a href="https://www.youtube.com/watch?v=rXfaIJLWj6Y">Exemple de réconciliation et d'enrichissement avec Wikidata</a> (silent screencast, 3:27) by <a href="https://twitter.com/ettore_rizza">Ettore Rizza</a></li>
		</ul>

		<h3>Acknowledgements</h3>
		<ul>
			<li>The <a
href="https://bitbucket.org/magnusmanske/reconcile">original
reconciliation service</a> was written by
<a href="http://magnusmanske.de/">Magnus Manske</a></li>
			<li>The service uses <a
href="https://bitbucket.org/magnusmanske/autodesc">autodescribe</a>
by <a href="http://magnusmanske.de/">Magnus Manske</a></li>
			<li>This work was supported by <a
href="https://www.bountysource.com/issues/985941-implement-wikidata-reconciliation-was-freebase">a
bounty on OpenRefine</a></li>
			<li>The service is hosted on the <a
href="https://tools.wmflabs.org/">Toolsforge</a></li>
		</ul>
		</div>
	</body>
</html>
